.table-view {

  .table-header-view {
    border-bottom: 1px solid #8B8B8B;
    background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
    background: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d9d9d9));
    background: -o-linear-gradient(top, #ffffff, #d9d9d9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background: linear-gradient(top, #ffffff, #d9d9d9);
    /*--IE9 DOES NOT SUPPORT GRADIENT BACKGROUNDS--*/
  }

  .table-header-cell-view {
    .sc-label-view {
      padding-left: 4px;
      line-height: 20px;
      text-shadow: #FFF 0 1px 0;
      font-size: 95%;
      color: #444;
    }
    .table-header-handle-view {
      cursor: col-resize;
      border-right: 1px solid #8B8B8B;
    }
    &.selected {
      background: -moz-linear-gradient(top, #A9CBF8, #6B9BE9);
      background: -webkit-gradient(linear, center top, center bottom, from(#A9CBF8), to(#6B9BE9));
      background: -o-linear-gradient(top, #A9CBF8, #6B9BE9);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A9CBF8', endColorstr='#6B9BE9');
      /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
      /*Element must have a height (not auto)*/
      /*All filters must be placed together*/
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A9CBF8', endColorstr='#6B9BE9')";
      /*Element must have a height (not auto)*/
      /*All filters must be placed together*/
      background: linear-gradient(top, #A9CBF8, #6B9BE9);
      /*--IE9 DOES NOT SUPPORT GRADIENT BACKGROUNDS--*/

      .sc-label-view {
        text-shadow: #EEE 0 1px 0;
        color: #222;
      }
      &.ASC .table-header-sort-view {
        background: transparent static_url('images/table_header_arrow_up.png') 0 0 no-repeat;
      }
      &.DESC .table-header-sort-view {
        background: transparent static_url('images/table_header_arrow_down.png') 0 0 no-repeat;
      }
    }
  }

  .table-row-view {
    &.odd {
      background-color: #EEF1F6;
    }
    &.selected {
      background-color: #4475CF;
      background: -moz-linear-gradient(top, #689ADE, #2F60C7);
      background: -webkit-gradient(linear, center top, center bottom, from(#689ADE), to(#2F60C7));
      background: -o-linear-gradient(top, #689ADE, #2F60C7);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#689ADE', endColorstr='#2F60C7');
      /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
      /*Element must have a height (not auto)*/
      /*All filters must be placed together*/
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#689ADE', endColorstr='#2F60C7')";
      /*Element must have a height (not auto)*/
      /*All filters must be placed together*/
      background: linear-gradient(top, #689ADE, #2F60C7);
      /*--IE9 DOES NOT SUPPORT GRADIENT BACKGROUNDS--*/

      .sc-label-view {
        color: #FFF !important;
      }
    }
    .table-cell-view .sc-label-view {
      padding: 0 2px;
      line-height: 24px;
    }
  }
}
